<!-- views/index_landing_page.ejs -->
<!doctype html>
<html>
<head>
    
	<title>Welcome to the Baby Cam</title>
	
	
        <!--dependancies and scripts-->
            <!--Bootstrap-->
        	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
            <!--Metro-->
            <link rel="stylesheet" href="packages/metro/css/metro.min.css"> <!-- load bootstrap css -->
            
            <!--Adding responsiveness-->
                <link href="packages/metro/css/metro-icons.css" rel="stylesheet">
                <link href="packages/metro/css/metro-responsive.css" rel="stylesheet">
                <link href="packages/metro/css/metro-schemes.css" rel="stylesheet">
                
                
                
                
            <style>
                
@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);
body {
    background-color:gray;
  /*background-image: url("https://lh4.googleusercontent.com/-3eBjuQpOGFw/U47yh_-OycI/AAAAAAAAI2U/uaU5pK49N1w/s1600/normal.jpg");*/
  background-image: url("resources/img/IMG_488277_clouds_normal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Raleway, Open Sans, Droid Sans, Roboto, arial, sans-serif;
}

.blurred-bg {
  /*background-image: url("https://lh3.googleusercontent.com/-m8TxQMObg6c/U474EWu7Y9I/AAAAAAAAI2k/xkRGoIEC1iU/s1600/blur.jpg");*/
   background-image: url("/resources/img/IMG_488277_clouds_blur.jpg");
  background-repeat: no-repeat;
  @include background-size(cover);
  background-attachment: fixed;
  &.tinted {
    @include background-image(linear-gradient(0deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url($blurred-img));
  }
  &.shaded {
    @include background-image(linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url($blurred-img));
  }
}

.box {
  width: 100%;
  height: 100%;
  left: -webkit-calc( 50% - 250px);
  top: 20%;
  border-radius: 5px;
  @include box-shadow(0 20px 30px rgba(0, 0, 0, .6));
  border: 1px solid rgba(255, 255, 255, .3);
  padding: 20px;
  text-align: center;
  @include box-sizing(border-box);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  display: flex;
  transition: box-shadow .3s ease;
  &:active {
    cursor: move;
    @include box-shadow(0 20px 50px rgba(0, 0, 0, .9));
  }
  .content {
    margin: auto;
  }
}

h1,
h2,
a,
p {
  color: black;
  font-weight: 100;
  .tinted & {
    color: gray;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
  }
}

h2 {
  font-size: 14px
}

p {
  margin: 20px;
  &.related {
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
    a {
      font-weight: 700;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
                
            </style>

</head>
<body>
    <div class = 'main_body_container'>
        <div class="margin20 no-margin-left no-margin-right sub-header text-light">
            Metro UI CSS includes a responsive fluid grid system that appropriately scales up to 12 columns. It includes predefined classes for easy layout options.
        </div>
    
    <!--Features described-->

            <div class="grid demo-grid">
                <div class="row cells4">
                    
                    <div class="cell">
                        <div id="box1" class="box blurred-bg tinted">
                                  <div class="content">
                                    <h1><span class="mif-feed"></span></h1>
                                    <p>Direct feed from camera, Audio and Video..</p>
                                  </div>
                                </div>
                    </div>
                    <div class="cell">
                               <div id="box1" class="box blurred-bg tinted">
                                  <div class="content">
                                    <h1><span class="mif-notification"></span></h1>
                                    <p>Notifications when baby is disturbed..</p>
                                  </div>
                                </div>
                    </div>
                    <div class="cell">
                                  <div id="box1" class="box blurred-bg tinted">
                                  <div class="content">
                                    <h1><span class="mif-database"></span></h1>
                                    <p>Collecting historical data of Babys activities..</p>
                                  </div>
                                </div>
                    </div>
                    <div class="cell">
                                 <div id="box1" class="box blurred-bg tinted">
                                  <div class="content">
                                    <h1><span class="mif-file-picture"></span></h1>
                                    <p>Taking and storing Memorable pictures of the baby growth..</p>

                                  </div>
                                </div>
                        
                    </div>
                </div>
            </div>
 
        
        
    </div> <!--end of main_body_container-->
    
    
    
    <!--Dependant scripts -->
	 <!--Adding scripts to the end-->
    <script type="text/javascript" src="jquery.min.js"></script>
    
    <!--Metro scripts-->
    <script type="text/javascript" src="packages/metro/js/metro.min.js"></script>


</body>
</html>
